html, body {
  margin: 0px;
  padding: 0px;
}

html{
  height: 100%;
}

body{
  min-height: 100%;
}

input {
  padding: 20px;
  width: 50%;
  margin: 10px;
  border: 2px solid #F3F3F3;
  background-color: #F3F3F3;
  border-radius: 5px;
}

fieldset {
  border: none
}

button {
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-property: background;
  -webkit-transition-duration: .3s;
  -webkit-transition-timing-function: linear, ease-in;
}

footer {
  background-color: #202020
}

ul {
  list-style-type: none;
  padding-left: 0px
}

li {
  padding: 10px;
  padding-left: 0px;
  cursor: pointer;
}

li:hover {
  color: #E49604
}

button:hover{
  background-color: #CCAD52;
}

.center {
  text-align: center;
}

.register {
  font-family: 'Aguafina Script', cursive;
  color: #CCAD52;
  text-align: center;
  font-size: 50px;
}

.info {
  padding: 20px;
  /* text-align: left; */
  display: block;
}

.Tc {
  padding: 15px;
}

.wrapper {
  margin: auto 20%;
  /* padding: 3em; */
}

.leftish {
  float: left;
}

.something {
  display: flex;
  flex-direction: row;
}

.sections {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.navList {
  width: 33%;
  padding: 20px;
  color: white;
}

.line {
  /* content: ""; */
  /* position: absolute; */
  /* display: block; */
  width: 20px;
  height: 3px;
  background: #eaeaea;
}


.copySection {
  color: white;
}

.copy {
  margin: 0;
  padding: 0;
  text-align: center;
}
